* {
	margin: 0;
	padding: 0;
}
body{
	background-color:#daf2e8;
	display: flex;
	flex-direction:column;
}
body > section {
	flex-basis: 50%;
	display: block;
}

textarea {
	margin: 6vw;
	margin-top: 12vh;
	margin-bottom: 2vh;
	width: 25vw;
	height: 50vh;
	padding: 10px
}
#formular {
	display: flex;
	margin-bottom: 150px;
}

img {
	margin-left: 13vh;
	margin-top: 12vh;
	margin-bottom: 3vh;
	width: 80vh;

}
header {
	padding:60px;
	text-align: center;
	background: #1abc9c;
	color: white;
	font-size: 60px;
	
  }
  
.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	text-align: center;
	font-size: 16px;
	display: flex;
	margin: 5px;
	margin-left: 27vh;
	margin-right: 10vh;
	padding: 1vh 3.5vh;
	font-size: 30px;
	
  }
  footer{
    margin:100px;
	font-size: 28px;
	}
