* {
	margin: 0;
	padding: 0;
}
body{
	background-color:#daf2e8;
	display: flex;
	flex-direction:column;
}
body > section {
	flex-basis: 50%;
	display: block;
}

textarea {
	margin: 6vw;
	margin-top: 10vh;
	margin-bottom: 2vh;
	width: 30vw;
	height: 60vh;
	padding: 10px
}
img {
	margin-left: 49vw;
	margin-right: auto;
	margin-top: -80vh;
	margin-bottom: 3vh;

	width: 80vh;
	object-fit: contain;

}
header {
	padding:60px;
	text-align: center;
	background: #1abc9c;
	color: white;
	font-size: 60px;
	
	
  }
  
.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	
	text-align: center;
	text-decoration: none;
	
	font-size: 16px;
	
	cursor: pointer;
	display: flex;
	vertical-align: middle;
	margin: 5px;
	margin-left: 32vh;
	margin-right: 10vh;
	padding: 1vh 3.5vh;
	font-size: 30px;
	border-radius: 3vh;
	width: 8vw;
  }
  footer{
    margin:100px;
	font-size: 28px;
	}